<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <section> 
            <h4>Lugar para la barra de busqueda</h4>
        </section>
        <section>
            <h4>Compra en cuota y sin intereses</h4>
        </section>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="" width="400" height="100">
        <section>
            <h3>Basado en tu ultima visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300" height="300">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex </strong></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300" height="300">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300" height="300">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300" height="300">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
            </section>
        <section>
            <h3>Seccion de Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300" height="300">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex </strong></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300" height="300">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300" height="300">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300" height="300">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>