<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="" width="400">
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="usuario">
            <ul>
                <li><a href="/CreatuCuenta">Creá tu cuenta</a></li>
                <li><a href="/ingresa">Ingresá</a></li>
                <li><a href="/misCompras">Mis compras</a></li>
            </ul>
        </nav>
        <div>
            <img src="/images/img-home-banner.jpg" alt="" width="400">
        </div>
    </header>
    <main class="Productos">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                <div>
                    $6.770
                    <br>
                    40% OFF
                </div>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                <div>
                    $230.000
                    <br>
                    20% OFF
                </div>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                <div>
                    $70.500
                    <br>
                    10% OFF
                </div>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                <div>
                    $23.200
                    <br>
                    5% OFF
                </div>
                <h3>SmartTV Samsung 43"</h3>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                <div>
                    $6.770
                    <br>
                    40% OFF
                </div>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                <div>
                    $230.000
                    <br>
                    20% OFF
                </div>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                <div>
                    $70.500
                    <br>
                    10% OFF
                </div>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                <div>
                    $23.200
                    <br>
                    5% OFF
                </div>
                <h3>SmartTV Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o en efectivo en puntos de <br>pago.¡Y siempre es seguro!</p>    
        </section>
        <section>
            <h4>Envíos gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envios gratis en miles de productos. Es <br>un beneficio de Mercado puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre, <br>no hay nada que no puedas hacer, porque estás <br>siempre protegid@.</p>
        </section>
        <section>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L. </h5>
        </section>
    </footer>
</body>
</html>