<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/9687515d25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <img src="/images/logo-mercado-liebre.svg" alt="" width="300">
        <div class="searchbar">
            <p>Buscar productos, marcas</p>
            <button href=""><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="header__div__burguer">
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
            <nav class="header__nav__menu">
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="header__nav__ingreso">
            <ul>
                <li><a href="/CreatuCuenta">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/misCompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="header__div__burguer a">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <main class="Productos">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                <div class="Descripcion">
                    <p class="precio">$6.770</p>
                    <h3 class="descuento">40% OFF</h3>
                    <h3 class="producto">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                <div class="Descripcion">
                    <p class="precio">$230.000</p>
                    <h3 class="descuento">20% OFF</h3>
                    <h3 class="producto">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                <div class="Descripcion">
                    <h3 class="precio">$70.500</h3>
                    <p class="descuento">10% OFF</p>
                    <h3 class="producto">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                <div class="Descripcion">
                    <p class="precio">$23.200</p>
                    <h3 class="descuento">5% OFF</h3>
                    <h3 class="producto">SmartTV Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                <div class="Descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <h3 class="descuento">40% OFF</h3>
                    <h3 class="producto">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                <div class="Descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <h3 class="descuento">20% OFF</h3>
                    <h3 class="producto">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                <div class="Descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <h3 class="descuento">10% OFF</h3>
                    <h3 class="producto">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                <div class="Descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <h3 class="descuento">5% OFF</h3>
                    <h3 class="producto">SmartTV Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o en efectivo en puntos de <br>pago.¡Y siempre es seguro!</p>    
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envíos gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envios gratis en miles de productos. Es <br>un beneficio de Mercado puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre, <br>no hay nada que no puedas hacer, porque estás <br>siempre protegid@.</p>
        </section>
        <section class="Copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L. </h5>
        </section>
    </footer>
</body>
</html>