<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8538b5be06.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="header">
        <div class="header__section__div">
            <div class="header__div__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="header__div__barra">
                <input class="search-bar-input" type="text" placeholder="Buscar productos..." /><i
                    class="fa-solid fa-magnifying-glass" id="lupita" style="color: #969696;"></i>
            </div>
            <div class="header__div__titulo">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuota y sin intereses</p>
            </div>
        </div>
        <nav class="header__nav__menu">
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="header__nav__ingreso">
            <ul>
                <li><a href="/register">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="header__div__burguer">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </header>
    <main class="register__main">
        <section class="box__card">
            <div class="box__card--title">
                <h3>Creá tu cuenta</h3>
                <hr>
            </div>
            <form action="" class="form">
                <div class="form__box--col50">
                    <label class="form__label" for="name">Nombre</label>
                    <input class="form__input" id="name" type="text" placeholder="Escribí tu nombre" name="name">
                    <small class="form__msg-error">El nombre es obligatorio</small>
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="surname">Apellido</label>
                    <input class="form__input" id="surname" type="text" placeholder="Escribí tu apellido"
                        name="surname">
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="email">Email</label>
                    <input class="form__input" id="email" type="email" placeholder="correo@correo.com" name="email">
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="password">Contraseña</label>
                    <input class="form__input" id="password" type="password" placeholder="tu contraseña"
                        name="password">
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="password2">Confirma tu contraseña</label>
                    <input class="form__input" id="password2" type="password" placeholder="confirma tu contraseña"
                        name="password2">
                </div>
                <div class="form__box--col50">
                    <label for="birthday">Fecha de nacimiento</label>
                    <input class="form__input" type="date" name="birthday" id="birthday">
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="address">Domicilio</label>
                    <input class="form__input" id="address" type="text" value="" name="address"
                        placeholder="Calle y altura">
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="city">Ciudad</label>
                    <select class="form__input" name="city" id="city">
                        <option value="" selected hidden>
                            Seleccione...
                        </option>
                        <option value="lomas de zamora">Lomas de Zamora</option>
                        <option value="lanus">Lanus</option>
                        <option value="temperley">José C. Paz</option>
                        <option value="banfield">Banfield</option>
                        <option value="adrogue">Adrogue</option>
                        <option value="remedios de escalada">Remedios de Escalada</option>
                        <option value="quilmes">Quilmes</option>
                        <option value="gerli">Gerli</option>
                        <option value="san Nicolas">San Nicolas de los Arroyos</option>
                        <option value="escobar">Escobar</option>
                    </select>
                </div>
                <div class="form__box--col50">
                    <label class="form__label" for="province">Provincia</label>
                    <select class="form__input" name="province" id="province">
                        <option value="" selected hidden>
                            Seleccione...
                        </option>
                        <option value="buenos aires">Buenos Aires</option>
                        <option value="santa fe">Santa Fe</option>
                        <option value="cordoba">Córdoba</option>
                        <option value="mendoza">Mendoza</option>
                    </select>
                </div>
                <div class="form__box--col50">
                    <label for="avatar" class="form__label">Imagen del perfil</label>
                    <input type="file" class="form__input" accept="image/*">
                </div>
                <div class="form__box--col50">
                    <h4 class="form__label">Perfíl del usuario</h4>
                    <div class="form__box--col50">
                        <input type="radio" id="c" value="c" name="profile">
                        <label for="c">Comprar</label>
                    </div>
                    <div class="form__box--col50">
                        <input type="radio" id="v" value="v" name="profile">
                        <label for="v">Vender</label>
                    </div>
                </div>
                <div class="form__box--row form__box--col50">
                    <h4 class="form__label">Categorias de interes:</h4>
                    <div class="form__box--col50">
                        <input type="checkbox" name="info" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="form__box--col50">
                        <input type="checkbox" name="info" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="form__box--col50">
                        <input type="checkbox" name="info" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="form__box--col50">
                        <input type="checkbox" name="info" id="jugueteria">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div class="form__box--col50">
                        <input type="checkbox" name="info" id="vidaSana">
                        <label for="vidaSana">Vida sana</label>
                    </div>
                </div>

                <div class="form__box">
                    <p>¿Ya estás registrado? <a class="link" href="/login"> Ingresá</a></p>
                </div>
                <div class="box__end">
                    <button class="button" type="reset">Borrar</button>
                    <button class="button button__primary" type="submit">Enviar</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="home__footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas
                sin interés con tarjeta o efectivo en puntos de pago.
                ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre
                tenés envíos gratis en miles de productos.
                Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p class="home__footer__section__copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>