footer section{
    color: var(--colorGrisOscuro);
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}

footer section i {
    font-size: 2rem;
    color: var(--colorCeleste)
}

footer section p {
    font-size: small;
    text-align: center;

}

footer .Copyright {
    display: block;
    margin: 20px;
}