footer section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    color: var(--GrisOscuro);
}

footer section i {
    font-size: 2rem;
    color: var(--Celeste)
}

footer section p {
    display: flex;
    font-size: small;
    align-items: center;
    flex-direction: column;
}

footer .Copyright {
    display: block;
    margin: 20px;
}