footer section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    color: var(--GrisOscuro);
    margin-top: 20px;
}

footer section i {
    font-size: 2rem;
    color: var(--colorCeleste)
}

footer section p {
    display: flex;
    font-size: small;
    align-items: center;
    flex-direction: column;
}

footer .Copyright {
    
    margin-top: 10px;
    text-align: left;
}