* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorRojo : #e74c3c;
    --colorBlanco : #ffffff; 
    --tipografiaGeneral: "Roboto", sans-serif;
  }

  body{
    font-family: var(--tipografiaGeneral);
    background-color: var(--colorGrisClaro);
    max-width: 1140px;
    margin: 0 auto;
   
  }

ul li {
    list-style: none;
    font-size: 12px; 
}

a{
    text-decoration: none; 

}

ul{
    padding-left: 0;
}

.box__end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.box__card {
  max-width: 1440px;
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #282727;
  border-radius: 5px;
}

.box__card--simple {
  max-width: 320px;
}

.box__card--double {
  max-width: 768px;
}

.box__card--title {
  margin-bottom: 30px;
  text-align: start;
}

.link {
  color: var(--colorRojo);
}