:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --tipografiaGeneral: "Roboto", sans-serif;
  }

  body{
    font-family: var(--tipografiaGeneral);
    max-width: 1140px;
    width: auto;
    background-color: var(--colorGrisClaro);
    
  }

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}