header {
    background-color: var(--colorAmarillo);
}

header p {
    display: flex;
    justify-self: center;
}

.searchbar p,
.searchbar a {
    background-color: var(--colorGrisClaro);
    border: var(--colorGrisOscuro) 1px solid;
    border-radius: 2px;
    display: inline;
    margin-left: 5%;
    line-height: 21px;
}

header nav ul a {
    color: black;
}

img {
    width: 100%;
}

header .burger-menu {
    display: flex;
    justify-content: center;
}

header .burger-menu a {
    background-color: var(--Celeste);
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 1.5rem;
    margin: 20px;
}