header {
    background-color: var(--colorAmarillo);
}

header p {
    display: flex;
    justify-self: center;
}

.searchbar p {
    background-color: var(--colorGrisClaro);
    border: var(--colorGrisOscuro) 1px solid;
    border-radius: 2px;
    display: inline;
    margin-left: 1rem;
    line-height: 21px;

}

.searchbar button {
    background-color: var(--colorGrisClaro);
    border: var(--colorGrisOscuro) 1px solid;
    border-radius: 2px;
    display: inline;
}


nav ul a {
    color: black;
    margin-left: 1rem;
    display: none;
}

.header__nav__menu {
    color: black;
    margin-bottom: 15px;

}

.header__nav__menu ul li {
    font-size: 15px;

}

.header__nav__ingreso {
    margin-bottom: 15px;
}

.header__nav__ingreso ul il {
    font-size: 15px;
}

.header__nav__ingreso i {
    margin-left: 5px;
}

img {
    width: 100%;
}

.header__div__burguer {

    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.header__div__burguer a {
    background-color: var(--colorCeleste);
    color: white;
    border-radius: 5px;
    padding: 7.5px 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

@media (min-width: 361px) {
    nav ul a {
        color: black;
        display: block;
    }

    .header__div__burguer a {
        visibility: hidden;
        font-size: 1px;
        margin: 4px;
    }
}

@media (min-width: 769px) {
    nav ul a {
        color: black;
        display: block;
    }

    .header__div__burguer a {
        visibility: hidden;
        font-size: 1px;
        margin: 4px;
    }
}