/* mobile */

header {
    background-color: var(--colorAmarillo);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

header ul li {
    display: none;
}

.header__section__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.header__div__logo {
    margin-right: 5px;
    width: 30%;
}


.header__div__barra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50px;
}

.search-bar-input {
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding: 8px;
    border: none;
}

#lupita {
    background-color: white;
    padding: 9px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px ;
}

.header__div__titulo {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.header__nav__menu {
    padding-bottom: 15px;
}

.header__nav__menu ul li {
    font-size: 15px;
}

.header__nav__ingreso {
    padding-bottom: 15px;
}

.header__nav__ingreso ul li {
    font-size: 15px;
}

.header__nav__ingreso i {
    margin-left: 5px;
}

.header__div__burguer {
    display: flex;
    justify-content: center;
}

.header__div__burguer a {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    background-color: var(--colorCeleste);
    padding: 7.5px 10px;
    border-radius: 5px;
}

@media (min-width: 768px) {

    header ul li {
        display: block;
        padding-left: 20px;
    }

    .header__div__burguer {
        display: none;
    }

}