/* mobile */

.home__main {
    width: 90%;
    margin: 0 auto;
}


.home__main  h3{
    font-size: 24px;
}

.home__main h6{
    font-size: 18px;
}

.home__main p{
    font-size: 16px;
}

.home__main h5{
    font-size: 20px;
}

.home__main img {
    width: 100%;
}


.home__main__section__ultimaVisita {
    padding-top: 10px;
    padding-bottom: 10px;
}

.home__main__section__ultimaVisita__article{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.home__main__section__ofertas {
    padding-top: 10px;
    padding-bottom: 10px;
}

.home__main__section__ofertas__article{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.home__main__section__ultimaVisita__article__div{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

.home__main__section__ultimaVisita__article__div i {
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    width: 40px;
    height: 40px

}

.home__main__section__ofertas__article__div{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

.home__main__section__ofertas__article__div i {
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    width: 40px;
    height: 40px
}




